.navbar-dark {
    background:#222222;
    z-index: 99999;
}

.navbar-dark a {
    /*color:rgb(153,160,162);*/
    color: rgb(205, 209, 210);
}

.navbar-brand {
    height:70px;
    padding:25px 15px;
}

.navbar-nav>li>a {
    padding-top:25px;
    padding-bottom:25px;
    margin-right: 7px;
    margin-left: 7px;
}

.navbar-brand>strong {
    color: white;
    margin-right:2px;
}

.navbar-brand:hover {
    color: #ec343c;
}

.nav>li:hover,.nav>li:focus {
    background-color:#ec343c;
    color: white;
}
