/* .image {
  width: 75vw;
  height: 75vh;
  
} */

.artifact-text{
  color: #605E5E;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.artifact-name {
  text-transform: uppercase;
}

/* .artifact-desc {
  text-transform: lowercase;
} */

.fa-archway{
  color: #605E5E;
}
