/* .image-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
} */

.image-input + label {
    font-size: 1em;
    font-weight: 400;
    color: white;
    background-color: #6c757d;
    display: inline-block;
    margin-bottom: 1em;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
}
