.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: $color-off-black;
    letter-spacing: .2rem
}

.u-margin-bottom-big { 
    margin-bottom: 2rem !important;
    margin-top: 1.25rem !important;

}
.u-center-text { text-align: center !important; }

.banner{
    font-family: $font-display;
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    color: $color-primary;
    margin-top: 2rem;
    
    &-recent{
        margin-top: 4rem;
    }

    @media only screen and (max-width:$bp-largest) {
        font-size: 7vw;
    }

    @media only screen and (max-width: $bp-small){
        font-size:10vw;
    }

}
