.carousel-control {
    z-index:9999;
}

.carousel-control>img {
    position:absolute;
    top:42%;
    width:30%;
}

.left.carousel-control>img {
    left:30%;
}

.right.carousel-control>img {
    right:30%;
}
