

/* ==========================================================================
    General
========================================================================== */
h1,h2,h3,h4,h5,h6,.navbar {
    /*font-family:'Oswald';*/
    font-family: 'News Cycle', sans-serif;
    /*font-weight:100;*/
    font-weight: 400;
}

body {
    padding-top: 70px;
}

a {
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

a {
    color:#34c8b2;
}

a:hover {
    color:#ec343c;
    text-decoration: none;
}
.btn-o {
    border:1px solid #34c8b2;
    /*border-radius*/
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#34c8b2;
}

.btn-o:hover {
    color:white;
    background:#34c8b2;
}

img {
    max-width:100%;
    max-height: 100%;
}

.hexagon {
    width:100px;
    height:55px;
    background:#3acab1;
    position:relative;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:before {
    content:"";
    position:absolute;
    top:-25px;
    left:0;
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:25px solid #3acab1;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:after {
    content:"";
    position:absolute;
    bottom:-25px;
    left:0;
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-top:25px solid #3acab1;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:hover {
    background:#ec343c;
}

.hexagon:hover:before {
    border-bottom-color:#ec343c;
}

.hexagon:hover:after {
    border-top-color: #ec343c;
}
.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}


/* ==========================================================================
Caurosel
========================================================================== */
.carousel-control {
    z-index:9999;
}

.carousel-control>img {
    position:absolute;
    top:42%;
    width:30%;
}

.left.carousel-control>img {
    left:30%;
}

.right.carousel-control>img {
    right:30%;
}

.camera-icon {
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    z-index:99;
    padding-top: 9%;
}

.camera-icon .circle {
    width:200px;
    height:200px;
    line-height:200px;
    display:inline-block;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border:1px solid white;
    position:relative;
    color:white;
    opacity:.85;
}

.camera-icon .circle i {
    color:white;
    position:absolute;
    z-index:1;
    left:28px;
    top:8px;
    font-size:38px;
}

.camera-icon .circle .hexagon {
    display:inline-block;
    margin-top:75px;
    position: relative;
}


/* ==========================================================================
content-block
========================================================================== */
.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-cyan {
    background:#34c8b2;
    color:#ECF0F1;
}

.content-block-cyan h1 {
    font-weight:100;
    text-transform:uppercase;
    margin-bottom: 30px;
}


/* ==========================================================================
Recent works
========================================================================== */
.dashed-shadow hello {
    background:rgba(0,0,0,0);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 85pt;
    text-align: center;
    line-height: 1.2em;
    padding-top: 70px;
}
.dashed-shadow {
    position: relative;
    top: 8px;
    left: 8px;
    display: inline-block;
    color: #ba9186;
    text-align: center;
}

.dashed-shadow:hover:before {
    animation: dash-animation 30s infinite linear;
}

.dashed-shadow:after {
    z-index: 2;
    content: attr(data-text);
    position: absolute;
    left: -8px;
    top: -8px;
    color: #b85b3f;
    text-shadow: 3px 3px #e8e3c7;
}

@keyframes dash-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.hello {
    font-family: 'Cookie',cursive;
    font-size: 100pt;
    text-align:center;
    margin-left: 350px;
}


.owl-carousel .item img {
    height:25em;
    width:100%;
    display:block;
    position:relative;
    object-fit: cover;
}

.owl-carousel .item {
    margin:0px;
}

.item>div {
    position:relative;
}

.item>div a {
    position:absolute;
    bottom:0px;
    padding:8px;
    background:rgba(0,0,0,0.75);
    right:0;
    color:white;
    text-transform:uppercase;
    z-index: 2;
}

.owl-carousel .owl-item div:before {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:absolute;
    content:'';
    background:rgba(5,27,26,1);
    z-index:1;
    opacity:0.5;
    /*transition*/
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    -o-transition:opacity 0.4s;
    transition:opacity 0.4s;
}

.owl-carousel .owl-item:hover div:before {
    opacity: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #34C8B2;
}


/* ==========================================================================
blog
========================================================================== */
.block-heading h1 {
    margin-top:0;
}

.content-block-gray {
    background:#ECF0F1;
}

.block-heading {
    margin-bottom: 60px;
}


/* ==========================================================================
Social
========================================================================== */
#social {
    padding:110px 0;
}

#social .hexagon {
    display:inline-block;
}

#social .hexagon i {
    font-size:36px;
    color:white;
    line-height:55px;
    position:relative;
    z-index: 1;
}


/* ==========================================================================
footer
========================================================================== */
footer.content-block {
    padding: 60px 0 38px;
    width: 100%;
}

.content-block-dark {
    background:#222222;
}

footer {
    text-align:center;
    color: rgb(153,160,162);
}


/* ==========================================================================
Responsive styles
========================================================================== */

@media (max-width:768px) {
    .navbar-nav>li>a {
        padding-top:10px;
        padding-bottom:10px;
        text-align:center;
    }
    .navbar-toggle i {
        color:rgb(153,160,162);
    }
    .navbar-toggle {
        margin-top:14px;
    }
    .recent-projects-title {
        font-size:32px;
    }
    .blog-post {
        margin-bottom:40px;
    }
    #social .hexagon {
        margin-bottom:60px;
    }
    #social {
        padding-bottom: 70px;
    }
}

/* ==========================================================================
Image
========================================================================== */
#body {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}
#body h1 {
    color: #fff;
    display: inline;
    font-family: poller_oneregular;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#body h1 span {
    background: #252525;
    display: inline-block;
    padding: 15px 28px 12px;
}


#body > ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: 960px;
}
#body > ul li {
    display: block;
    float: left;
    margin: 0 10px 20px;
    padding: 0;
    width: 300px;
}
#body > ul li a {
    color: #000;
    display: block;
    font-family: poller_oneregular;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#body > ul li a img {
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding: 0;
    opacity: .8;
    transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
    opacity: 1;
}
#body > ul li a span {
    display: block;
    margin: 0;
    padding: 33px 0 0;
}

/* ==========================================================================
Image
========================================================================== */

#footer {
    background: #252525;
    margin: 0;
    padding: 36px 0 42px;
}
#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 960px;
}
#footer div p {
    color: #fff;
    float: left;
    line-height: 44px;
    margin: 0 0 0 10px;
    padding: 0;
}


/* ==========================================================================
Search bar
========================================================================== */


.search-box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}